* **Бабижаев Илья ИУ6-54Б** Вариант 2

In [23]:
from pyspark.sql import SparkSession
import os
import math
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import expr, mean, stddev, max

In [24]:
os.environ['JAVA_HOME'] = '/opt/homebrew/opt/openjdk@17/libexec/openjdk.jdk/Contents/Home'
os.environ['PATH'] = f'{os.environ['JAVA_HOME']}/bin:{os.environ['PATH']}'
os.environ['_JAVA_OPTIONS'] = '-Dhadoop.security.authentication=simple -Duser.name=spark'


spark = SparkSession.builder.appName('hw2').getOrCreate()

In [25]:
df = spark.read \
    .option('header', 'true') \
    .option('inferSchema', 'true') \
    .option('recursiveFileLookup', 'true') \
    .csv('/Users/ilya/Downloads/2014-citibike-tripdata')

print(df.columns)

['tripduration', 'starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'gender']

In [26]:
df.select('*').show()

+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|         404|2014-07-01 00:00:04|2014-07-01 00:06:48|             545|     E 23 St & 1 Ave|             40.736502|           -73.97809472|           402|  Broadway & E 22 St|          40.7403432|         -73.98955109| 19578|Subscriber|      1987|     2|
|         850|2014-07-01 00:00:06|2014-07-01 00:14:16|             238|Bank St & Washing...|            40.7361967|           -74.00859207|           458|    11 Ave & W 27 St|           40.751396|           -74.005226| 19224|Subscriber|      1987|     1|
|        1550|2014-07-01 00:00:21|2014-07-01 00:26:11|             223|     W 13 St & 7 Ave|           40.73781509|           -73.99994661|           539|Metropolitan Ave ...|         40.71534825|         -73.96024116| 17627|Subscriber|      1973|     2|
|         397|2014-07-01 00:00:29|2014-07-01 00:07:06|             224|Spruce St & Nassa...|           40.71146364|           -74.00552427|          2008|Little West St & ...|         40.70569254|         -74.01677685| 15304|Subscriber|      1982|     1|
|         609|2014-07-01 00:00:37|2014-07-01 00:10:46|             346| Bank St & Hudson St|           40.73652889|           -74.00618026|           521|     8 Ave & W 31 St|         40.75044999|         -73.99481051| 20062|Subscriber|      1972|     2|
|        2245|2014-07-01 00:01:09|2014-07-01 00:38:34|             416|Cumberland St & L...|           40.68753406|           -73.97265183|           473|Rivington St & Ch...|         40.72110063|          -73.9919254| 20653|Subscriber|      1976|     1|
|        1323|2014-07-01 00:01:15|2014-07-01 00:23:18|             501| FDR Drive & E 35 St|             40.744219|           -73.97121214|           501| FDR Drive & E 35 St|           40.744219|         -73.97121214| 21460|Subscriber|      1993|     1|
|         320|2014-07-01 00:01:16|2014-07-01 00:06:36|             475| E 16 St & Irving Pl|           40.73524276|           -73.98758561|           116|     W 17 St & 8 Ave|         40.74177603|         -74.00149746| 16746|Subscriber|      1985|     1|
|        2430|2014-07-01 00:01:18|2014-07-01 00:41:48|             469|  Broadway & W 53 St|           40.76344058|           -73.98268129|           445|  E 10 St & Avenue A|         40.72740794|         -73.98142006| 19441|Subscriber|      1983|     1|
|         700|2014-07-01 00:01:21|2014-07-01 00:13:01|             320|Leonard St & Chur...|             40.717571|             -74.005549|           393|   E 5 St & Avenue C|         40.72299208|         -73.97995466| 17267|Subscriber|      1983|     1|
|         907|2014-07-01 00:01:22|2014-07-01 00:16:29|             501| FDR Drive & E 35 St|             40.744219|           -73.97121214|           501| FDR Drive & E 35 St|           40.744219|         -73.97121214| 21355|Subscriber|      1990|     1|
|         647|2014-07-01 00:01:35|2014-07-01 00:12:22|             500|  Broadway & W 51 St|           40.76228826|           -73.98336183|           533|  Broadway & W 39 St|         40.75299641|         -73.98721619| 15001|Subscriber|      1959|     2|
|         321|2014-07-01 00:01:46|2014-07-01 00:07:07|             384|Fulton St & Waver...|           40.68317813|            -73.9659641|           396|Lefferts Pl & Fra...|        40.680342423|       -73.9557689392| 19861|Subscriber|      1987|     1|
|        1326|2014-07-01 00:01:50|2014-07-01 00:23:56|             382|University Pl & E...|           40.73492695|           -73.99200509|           525|    W 34 St & 11 Ave|         40.75594159|          -74.0021163| 14604|Subscriber|      1986|     1|
|         454|2014-07-01 00:01:54|2014-07-01 00:09:28|             438| St Marks Pl & 1 Ave|           40.72779126|           -73.98564945|           263|Elizabeth St & He...|            40.71729|           -73.996375| 21141|Subscriber|      1984|     2|
|         653|2014-07-01 00:02:04|2014-07-01 00:12:57|             504|     1 Ave & E 15 St|           40.73221853|           -73.98165557|           334|     W 20 St & 7 Ave|         40.74238787|         -73.99726235| 15645|Subscriber|      1964|     2|
|         600|2014-07-01 00:02:13|2014-07-01 00:12:13|             540|Lexington Ave & E...|           40.74147286|           -73.98320928|           164|     E 47 St & 2 Ave|         40.75323098|         -73.97032517| 14738|Subscriber|      1983|     1|
|        2543|2014-07-01 00:02:16|2014-07-01 00:44:39|              83|Atlantic Ave & Fo...|           40.68382604|           -73.97632328|           389| Broadway & Berry St|         40.71044554|         -73.96525063| 15004|  Customer|        \N|     0|
|         270|2014-07-01 00:02:21|2014-07-01 00:06:51|             317|   E 6 St & Avenue B|           40.72453734|           -73.98185424|           300|Shevchenko Pl & E...|           40.728145|           -73.990214| 19425|Subscriber|      1990|     1|
|         261|2014-07-01 00:02:52|2014-07-01 00:07:13|             450|     W 49 St & 8 Ave|           40.76227205|           -73.98788205|           479|     9 Ave & W 45 St|         40.76019252|          -73.9912551| 19764|Subscriber|      1951|     2|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
only showing top 20 rows

In [27]:
@udf(DoubleType())
def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371.0

    lat1_rad = math.radians(lat1)
    lon1_rad = math.radians(lon1)
    lat2_rad = math.radians(lat2)
    lon2_rad = math.radians(lon2)

    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad

    a = math.sin(dlat / 2)**2 + math.cos(lat1_rad) * \
        math.cos(lat2_rad) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    distance = R * c
    return distance

In [28]:
df_distance = df.select(
    col('start station latitude'),
    col('start station longitude'),
    col('end station latitude'),
    col('end station longitude')
).where(
    col('start station name') != col('end station name')
).withColumn(
    'distance_km',
    haversine_distance(
        col('start station latitude'),
        col('start station longitude'),
        col('end station latitude'),
        col('end station longitude')
    )
)

df_distance.show(5)

+----------------------+-----------------------+--------------------+---------------------+------------------+
|start station latitude|start station longitude|end station latitude|end station longitude|       distance_km|
+----------------------+-----------------------+--------------------+---------------------+------------------+
|             40.736502|           -73.97809472|          40.7403432|         -73.98955109|1.0555036179098545|
|            40.7361967|           -74.00859207|           40.751396|           -74.005226|1.7137101463147175|
|           40.73781509|           -73.99994661|         40.71534825|         -73.96024116| 4.175617385504693|
|           40.71146364|           -74.00552427|         40.70569254|         -74.01677685|1.1451687588860764|
|           40.73652889|           -74.00618026|         40.75044999|         -73.99481051|1.8203424930032215|
+----------------------+-----------------------+--------------------+---------------------+------------------+
only showing top 5 rows

In [29]:
df_distance.agg(
    max('distance_km').alias('max_distance'),
    mean('distance_km').alias('mean_distance'),
    stddev('distance_km').alias('stddev_distance'),
    expr('percentile_approx(distance_km, 0.5)').alias('median_distance')
).show()

+------------------+-----------------+------------------+-----------------+
|      max_distance|    mean_distance|   stddev_distance|  median_distance|
+------------------+-----------------+------------------+-----------------+
|10.629987886486502|1.704506605719486|1.1913299419591568|1.371912743772673|
+------------------+-----------------+------------------+-----------------+